body{
    font-family: 'Acme', sans-serif;
    background-color: white;
}

nav{
    height: 15vh;
    background-color:#636363;
    color:black;
    position: relative;
    overflow: hidden
}
.header>h1{
    /* visibility: hidden; */
    width:49%;
    float:left;
    display: none;
    
   
}
.header2{
    width:20%;
   
    
    float:left;
    justify-content: center;
    
   
}
.hone1{
    
    color:#f9f9f9;
    font-size: 24px;
}
.hone1:hover{
    text-decoration: none;
    font-size: 30px;
    color:black;
}
.nav-links{
    display: flex;
    list-style: none;
    width: 50%;
    
    height: 100%;
    justify-content: space-around;
    align-items: center;
    margin-left: auto;
    position: relative;
    cursor: pointer;
}
.navLi a:hover{
    cursor: pointer;
    color:black;
    font-size:25px;
    
}
.nav-links li a{
    color: white;
    text-decoration: none;
    font-size: 16px;
    margin:4px;
    
    
}
.header{
    width:60%;
    height: 10vh;
    float: left;
    justify-content: space-around;
    align-items: center;
    z-index: 6;
    
    position: fixed;
}
.hone{
    z-index: 2;
    color: white;
    
    margin-left: 15%;
    margin-top: 30px;
}
.hello{
    font-size:50px;
}
.aboutmep{
    margin-top:3%;
    text-align: center;
    margin-left:5%;
    font-size:25px;

}
.text{
    position: absolute;
    top:30%;
    left:10%;
    background-size: contain;
    overflow: hidden;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 40%;
    height: 80%;
    background-color:#E4E4E4;
    box-shadow : 0 5px 25px rgba(0,0,0,0.5)

   

    
  }
  .text  img{
      width:100%;
      
  }
.red{
    position: absolute;
    top:30%;
    left:50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 40%;
    height: 80%;
    background-color:#E4E4E4;
    box-shadow : 0 5px 25px rgba(0,0,0,0.5)

}
h1{
    color:white;
    margin-top: 10px
}
.sec1{
    max-width: 960px;
    margin: 0 auto;
    background: #f9f9f9;
    font-size: 24px;
    padding : 25px;
}

.parallax-window {
    min-height: 600px;
    background: transparent;
    height: 400px;

    
}
#navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
  }
  .container{
      background-color: green;
      z-index: 6;
  }
  h2 {
      margin-top:20%
  }
  h2 ,p ,h3,h4{
      margin-left:30%
  }
 
.inedu{
    margin-left: 2%;
    text-align: left
}
.down{
    position: absolute;
    top:110%;
    left:10%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width:80%;
    height: 10%;
    background-color: #636363;
}
.down h4 a {
    color:white;
}
h4{
    font-size: 30px;
    margin-left: 40%;
    margin-top: 15px;
    color:white
    
}
.intro{
    position: absolute;
    top:135%;
left:10%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width:80%;
    height: 70%;
    margin-top:10%;
  
    background: rgba(1,1,1,0.2);
    text-align: center;
    padding: 40px;;
    
}

.education{
    position: absolute;
    top:200%;
    left:10%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width:80%;
    height: 10%;
    background-color: #636363;
}
.education-content{
    position: absolute;
    top:220%;
left:10%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width:80%;
    height: 70%;
    margin-top:10%;
  
    background: rgba(1,1,1,0.2);
    text-align: center;
}


.col-md-6{
    
    height: 20vh;
}
li{
    list-style: none;
}
.skills{
    position: absolute;
    top:280%;
    left:10%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width:80%;
    height: 10%;
    background-color: #636363;
}
.skills-content{
    position: absolute;
    top:300%;
left:10%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width:80%;
    height: 70%;
    margin-top:10%;
  
    background: rgba(1,1,1,0.2);
    text-align: center;
}
.skill-block{
    top:12%;
    height: 10vh;
    left: 8.6%;
    width: 40%;
    margin-right: 2%;
    margin-top: 4%;
    background-color: #636363;
}
h6{
    font-size: 18px;
    padding: 2%;
}
.project{
    position: absolute;
    top:360%;
    left:10%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width:80%;
    height: 10%;
    background-color: #636363;
}
.project-content{
    position: absolute;
    top:383%;
left:10%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width:80%;
    height: 80%;
    margin-top:10%;
  
    background: rgba(1,1,1,0.2);
    text-align: center;
}
.slider{
    margin-top: 5%;
    width:80%;
    height:60%;
    margin-left: 10%;
    background-size: cover;
    box-shadow: 1px 5px 10px #636363;
    
  
}

.contactDiv{
    margin-top: 5%;
    width:60%;
    height:70%;
    margin-left: 20%;
    background-size: cover;
    box-shadow: 1px 5px 10px #636363;
}
#slide{
    overflow: hidden;


}

 #slide figure div{
    float: left;
    width:20%; 
}
#slide figure img{
    width: 100%;
    height: 50%;
    float:left
}


#slide figure{
    position: relative;
    width: 500%;
    margin: 0px;
    left: 0;
    animation: 15s slide infinite;
}
.contact{
    position: absolute;
    top:450%;
    left:10%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width:80%;
    height: 10%;
    background-color: #636363;
}
.contact-content{
    position: absolute;
    top:475%;
left:10%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width:80%;
    height: 80%;
    margin-top:10%;
  
    background: rgba(1,1,1,0.2);
    text-align: center;
}
.form1{
    margin-left:0%;
    width:40%;
    height: 8vh;
    background-color: #E4E4E4;
    padding: 2%;
}
.form2{
    font-size: 16px;
    padding: 2%;
    margin-top: 2%;
    width: 80%;
    height: 8vh;
    background-color: #E4E4E4;
}
.form3{
    text-align: left;
    padding: 1px 20px 90px 8px;
    margin-top: 2%;
    width: 80%;
    height: 20vh;
    background-color: #E4E4E4;
    font-size: 16px;
}
button{
    margin-top: 2%;
    width: 80%;
    height: 8vh;
    cursor: pointer;
    background-color: #636363;
    box-shadow: 1px 2px 10px #636363;
    border-color: #636363;
    color: #E4E4E4;
    font-size: 16px
}
.down1{
    position: absolute;
    top:520%;
    left:10%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width:80%;
    height: 10%;
    background-color: #636363;

}
@keyframes slide{
    0%{
        left:0%;
    }
    20%{
        left:0%;
    }
    25%{
        left:-100%;
    }
    45%{
        left: -100%;
    }
    50%{
        left: -200%;
    }
    70%{
        left: -200%;
    }
    75%{
        left: -300%;
    }
    100%{
        left: -300%;
    }
}
/* for mobiles screen */
@media screen and (max-width: 600px){
    
   #navbar{
       width:100wh;
   }
   .hone{
       display: hidden;
       font-size:40px;
       text-align: justify;
   }
   .header{
       width:100%;
       position: sticky;
       top:0;
   }
   .parallax-window> data-image-src{
       background-size:cover
   }
  
    nav{
       
        position:sticky;
        z-index: 10;
        padding: 5px;
      
    }
    .nav-links{
        margin-left: 50px;
        font-size:0px;
        word-spacing: 10px;
       
    }
    .header2{
        display: none;
    }
    /* .navLi a{
        font-size: 5px;
        padding: 5px;
        text-align: justify;
        color: black;
    }
    .navLi a:hover{
        cursor: pointer;
        color:black;
        font-size:15px;
    } */

    /* .hamburger{
        position: absolute;
        cursor: pointer;
        right: 5%;
        top:50%;
        transform: translated(-5%, -20%);
        z-index: 2;

    } */
    /* .nav-links{
        color: black;
        position: fixed;
        background-color:#E4E4E4;
        height: 100vh;
        width: 100%;
        margin-top:19%;
        flex-direction: column;
        clip-path: circle(100px at 90% -20%);
        -webkit-clip-path: circle(100px at 90% -20%);
        transition: all 1s ease-out;
        pointer-events : none;
    }
    .nav-links li a{
        color: #636363;
    }
    .nav-links.open{
        clip-path: circle(1000px at 90% -20%);
        -webkit-clip-path: circle(1000px at 90% -20%);
        pointer-events : all;
    } */
    
    .text{
        top:25%;
        width: 86%;
        left:8%;
        height:50%;
     
        float: left;
        background-color: black;        
    }
    .text img{
        width: 100%;
        
    }
    .red{
        top:70%;
        width: 86%;
        left: 8%;
        height: 400px;
        float: left;
        padding: 0px;
}
    h2 {
        font-size:30px;
        text-align:left ;
        margin-top: 10%;
        margin-left:10%;
    }
    .red >p{
        margin-left:10%;
        top:2%;
    }
    .red>h3{
        margin-left:10%;
        margin-top:10%;
    }
    h1{
        font-size:25px;
        text-align: center;
        
    }
    .hello{
        font-size:30px;
    }
    .aboutmep{
        text-align: center;
        margin-left:0%;
        margin-top: 10%;
        color:black;
        font-size:20px;
    }
    .down{
        top:135%;
        padding: -20px 10px -42px 10px;
        
    }
    .down h4 a{
        text-align: left;
        margin-left:0px;
        font-size:20px;

        
    }
    h3{
        margin-left:29%
    }
    .intro{
        padding:20px;
        top: 180%;
        height:400px;
    }
    .education{
        top:220%
    }
    .education-content{
        top:270%;
        height: 600px;
    }
    .inLi{
        text-align: left;
        margin-left: 0em;
        
    }
    .inedu{
        margin-left: 40px;
    }
    h5{
        margin-left: 40px;
    }
    .col-md-6{
        height: 10vh;
       
    }
    .inedu{
        margin-top: -8px;
    }
    li{
        list-style: disc;
        
    }
    .skills{
        top:328%;
        
    }
    .skills-content{
        top: 380%;
        height: 100%;
        
    }
    .skill-block{
        top: 2%;
        margin-top: 8%;
        height: 10vh;
        width: 80%;
    }
    h6{
        font-size: 18px;
        padding: 5%;
    }
    .project{
        top: 440%
    }
    .project-content{
        top: 458%;
        height: 30%;
    }
    .slider{
        height: 30%;;
    }
    .contact{
        top: 475%
    }
    .contact-content{
        top: 505%;
        height: 60%;
    }
    .contactDiv{
        height: 80%;
    }
    .down1{
        top: 550%;
        
    }
    h4{
        margin-left: 30%;
    }
    .form3{
        padding: 1px 20px 35% 2%;
    }
    .navLi{
        list-style: none;
    }

}

/* @media screen and (max-width:500px){
    .text{
       
        height: 250px;
        
    }
    nav{
        position: relative;
        z-index: 2;
        display: flex;
    }

    .hamburger{
        position: absolute;
        cursor: pointer;
        right: 20%;
        top:20%;
        transform: translated(-5%, -20%);
        z-index: 2;
    }
    .red{
        top: 300px;
        height: 450px;
    }
    .down{
        top: 700px;
    }
    .intro{
        top: 1140px;
        height: 860px;
        
    }
    .education{
        top: 1600px;
    }
    .education-content{
        top: 1820px;
    }
    .skills{
        top: 2120px;
    }
    .skills-content{
        top: 2400px;
        height: 600px;
    }
    .project{
        top: 2760px
    }
    .project-content{
        top: 2960px;
        height: 400px
    }
    .contact{
        top: 2990px;
    }
    .contact-content{
        top:3190px
    }
    .down1{
        top: 3400px
    }
}

   */
